* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

:root {
    --bg-color: #161623;
    --border-color: #000000;
    --standart-margin: 10px;
    --standart-radius: 10px;
    --button-radius: 50%;
}

body {
    background: var(--bg-color);
}

body.active {
    overflow: hidden;
}



header {
    border-bottom: 5px solid black;
    padding: 7.5px;
    gap: 20px;
    display: flex;
    align-items: center;
    background-color: white;
}


.inter-header-main {
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;

}

main {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}







